body {
    background-color: rgb(184, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::selection {
    background-color: #ff7b00; /* Cor de fundo da seleção */
    color: #ffffff; /* Cor do texto selecionado */
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #032e54;
    margin-bottom: 30px;
}

h1 {
    color: #0062b7;
    text-align: center;
    font-size: 110px;
    font-family: fantasy;
    font-style:unset;
    margin-top: 40px;
}

#navMenu {
    background-color: #0062b7;
    padding: 15px;
    width:fit-content;
    display: flex;
    justify-content: center;
    border: 1px solid #0062b7;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color:rgb(211, 255, 248);
    text-decoration: none;
    font-family: fantasy;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(255, 103, 103);
    color: #032e54;
}

#tableDiv {
    width: 100%;
    overflow-x: auto;
    display: block;
}

#loginBtn, #buttonPopup {
    width: 100%;
    color: rgb(211, 255, 248);
    padding: 10px;
    border: none;
    background-color: #0062b7;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px; 
}

#loginBtn:hover, #buttonPopup:hover {
    background-color: rgb(255, 103, 103);
    color: #032e54;
}

#buttonPopup {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #032e54;
    color: rgb(211, 255, 248);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 0px;
}

#buttonPopup:hover {
    background-color: #ff7b00;
    color: #032e54;
}

.popup {
    display: none; /* Initially hidden */
    position: flex;
    background-color: #0062b7;
    height: 150px;
    max-width: 240px;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-evenly;
}

.popup-content, .loginForm, .input-group {
    align-items: center;
    font-family: verdana;
    font-weight: bold;
    color: #032e54;
    margin-bottom: 10px;
}


label {
    display: block;
    margin-bottom: -2px;
    color: rgb(211, 255, 248);
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ff7b00;
    text-decoration: none;
}

.loginForm {
    align-items: center;
    color: #032e54;
    margin-bottom: 10px;
}

.signin-container {
    background-color: #0062b7;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 150px;
    max-width: 240px;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-evenly;
}

label {
    display: block;
    margin-bottom: -2px;
}

.input-group {
    align-items: center;
    
    color: rgb(51, 219, 219);
    margin-bottom: 10px;
}

.status-pendente {
    color: rgb(191, 159, 0);
    font-weight: bold;
}

.status-vencido {
    color: rgb(234, 86, 0);
    font-weight: bold;
}

.status-concluido {
    color: rgb(42, 96, 132);
    font-weight: bold;
}

table {
    width: 80%;
    border-collapse: collapse; 
    table-layout: auto;
}

th {
    color: rgb(211, 255, 248);
}

th, td {
    border: 1px solid #032e54;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #347fc0;
}

@media (max-width: 768px) and (min-width: 250px) {
    h1 {
        font-size: 60px;
        margin-top: 30px;
    }

    p {
        font-size: 0.9em;
        margin-bottom: 15px;
    }

    .signin-container {
        background-color: #0062b7;
        display: flex;
        flex-direction: column;
        height: 150px;
        max-width: 240px;
        padding: 10px;
        border-radius: 8px;
        align-items: center;
        justify-content: space-evenly;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin:  10px 0;
    }

    table {
        width: 100%;
        overflow-x: auto;
        table-layout: auto;
    }

    th, td {
        font-size: 0.8em;
        padding: 8px;
    }

    .popup, .signin-container {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }

    .signin-container {
        background-color: #0062b7;
        display: flex;
        flex-direction: column;
        height: 150px;
        max-width: 205px;
        padding: 10px;
        border-radius: 8px;;
        align-items: center;
        justify-content: space-evenly;
    }

    nav {
        padding: 10px;
        width: 100%;
    }

    #loginBtn, #buttonPopup {
        width: 100%;
        padding: 8px;
    }

    #colaboradoresTable, #colaboradoresTable thead, #colaboradoresTable tbody, #colaboradoresTable th, #colaboradoresTable td, #colaboradoresTable tr {
        display: block;
    }

    #colaboradoresTable tr {
        margin-bottom: 10px;
        border-bottom: 2px solid #ddd;
    }

    #colaboradoresTable td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    #colaboradoresTable td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
}
